
.header{
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.header h1{
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}


.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover{
    color: #ffd369;
}